.pagination{
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}
.pagination a{
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    background: #fff;
    margin-right: .4rem;
    border-radius: 2px;
}
.active{
    width: 1.6rem;
    height: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    background: #FFBE00;
    margin-right: .4rem;
    border-radius: 2px;
}